body {
  background-color: #1e9389;
  font-family: Arial, sans-serif;
  margin: 10px;
}

#main-nav {
  background-color: #b3b6bb;
  text-align: center;
  padding: 10px;
}

#main-nav ul {
  margin: 0;
  padding: 0;
}

#main-nav li {
  display: inline-block;
  margin: 0 10px;
}

#main-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

#main-nav li:hover {
  background-color: #3db3a5;
}

.section {
  background-color: white;
  border: 2px solid black;
  margin: 10px;
}

.mainButton {
  background-color: #029158;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.mainButton:hover {
  background-color: #0d3067;
}

.exerciseCard {
  background-color: #ebebeb;
  border: 1px solid gray;
  padding: 15px;
  margin-top: 10px;
}

.swiper {
  width: 70%;
  height: 250px;
  background-color: white;
  border: 2px solid black;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#exerciseChart {
  background-color: white;
  max-height: 400px;
}